name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: 3.94.117.102
        username: ubuntu
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          whoami
          ls -al
